/* =============================================================================
   グローバルフッター
============================================================================= */
.global-footer {
  margin-top: 3rem;
  padding: 1rem;
  background-color: #f3f3f3;
  text-align: center;
  p {
    margin: 0;
  }
}
