<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Page not find | branding image generator</title>
<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
<link rel="stylesheet" href="/css/style.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
<body class="page-404">

  <h1 class="global-title">branding-img-generator</h1>

	<article class="page-content">
		<p>sorry! page not found.</p>
		<p><a href="/">back to top.</a></p>
	</article>

<footer class="global-footer">
  <p>github: <a href="https://github.com/eedamame/branding-img-generator">https://github.com/eedamame/branding-img-generator</a></p>
  <p><small><a href="https://github.com/eedamame/branding-img-generator/blob/master/LICENSE">MIT</a> &copy; eedamame</small></p>
</footer>
<script src="/js/app.js"></script>
</body>
</html>
